/*  GENERAL */
/* Ces styles définissent les polices par défaut que Tailwind va utiliser, 
   mais ils sont appliqués globalement. */
body {
  font-family: 'Roboto', sans-serif;
  background: #f9fafb;
  color: #1f2937;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.05em;
}

/* Styles pour la navigation mobile */
.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #22c55e; /* Utilise la couleur 'primary-green' */
  display: flex;
  justify-content: space-around;
  padding: .8rem 0;
  z-index: 50;
}
.mobile-nav a {
  color: white;
  font-weight: 600;
}

/* La Media Query qui cache le menu mobile sur desktop (md:) */
@media (min-width: 768px) {
  .mobile-nav { 
    display: none; 
  }
}